* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}

:root {
    --primary-color: #005663;
    --primary-color-dark: #05373f;
    --primary-color-light: #0b6370;
}

body {
    background-color: var(--primary-color);
    font-family: sans-serif;
    font-size: 1.3em;
    line-height: 1.5em;
}

.container {
    max-width: 650px;
    margin: 50px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
}